* {
    color : #00ff00;
    background-color : pink;
    text-align : center;
    text-decoration: dotted;
    border-style : dashed;

}

div {
    height : 100px;
    width : 200px;
    background-color : blue;
    border-width : 2px;
    border-style : solid;
    border-color :#00ff00;


}

